

ion-header{
    --background: var(--red-b) !important;
    ion-title{
        font-size: 30px;
    }
}

.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    margin-left: 20px;
    img{
        
        width: 50px;

    } 
}
.container{
.img_logo img{
    width: 100px;
}
    .name_app{
        display: flex;
        justify-content: center;
        h4 { 
            font-family:boonhom;

            width: 300px;
            display: flex; 
            flex-direction: row; 
            color: #f8a30e; 
        } 
        
        h4:before, 
        h4:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #f8a30e; 
            margin: auto; 
        } 
    }
  
}

// .profile_card{
//     width: 100%;
//     height: 200px;
//     background-color: gray;
// }
.photo{
    .images_profile{
        position: relative;
        text-align: right;

    img{
    border-radius: 50%;

        width: 100px;
        height: 100px;
    }
}
}


// .box-item-menu{
//     width: 140px;
//     height: 110px;
// }
// .list-menu-item{
//     margin-top: -35px;
// }
// .box-item-menu2{
// }

.box-list-menu{
    // margin-top: -40px;
    ion-icon{
        font-size: 32px;
    }
    ion-card-content{
        height: 100px !important;
        text-align: center;
        
}
}


// .list-Menu{
//     // margin-top: -100px;
//     position: relativZe;
//     top: -90px;
// }


.superPorfile{

    // ion-col{
    //     // margin-top: -40px;
    // }

    ion-item{
        padding: 10px;
        p{
            margin-left: 10px;
            font: auto;
        }
    }
}

//Moto G4
@media screen and (max-width: 360px) {
    .photo{
        .images_profile{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
  }