<ion-header class="ion-no-border">
    <ion-toolbar class="header">
        <div _ngcontent-gor-c7="" class="logo">
            <span>
      <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png" />
    </span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section class="login_logo" *ngIf="!login">
        <div class="container">
            <div class="img_logo ion-text-center">
                <img src="../../assets/imgs/logo.png" alt="" />
            </div>
            <div class="name_app">
                <h4 class="ion-text-center">&nbsp; &nbsp;ຕະຫຼາດຮັ່ງມີ &nbsp;</h4>
            </div>
            <div class="buton ion-text-center">
                <ion-button shape="round" routerLink="/login">ລົງຊື່ເຂົ້າໃຊ້</ion-button>
                <ion-button class="btn_register" shape="round" color="danger" fill="outline" routerLink="/registration">ສະມັກສະມາຊິກ</ion-button>
            </div>
        </div>
    </section>
    <section class="login_logo" *ngIf="login">
        <div class="container">
            <div class="img_logo ion-text-center">
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTM2OTI2NTY2Mjg5NTE2MTI5/justin_bieber_2015_photo_courtesy_dfree_shutterstock_348418241_croppedjpg.jpg" alt="" />
            </div>
            <div class="name_app">
                <h4 class="ion-text-center">&nbsp; &nbsp;{{user.firstName}} &nbsp;</h4>
            </div>

        </div>
    </section>
    <section class="container_list_menu ion-text-center">
        <div class="wappper_center_with_hight">

            <ion-row>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin">

                        <ion-card-content>
                            <ion-badge size="1" color="warning" class="ion-no-margin">66</ion-badge>

                            <ion-icon name="bag-handle-sharp" color="primary"></ion-icon><br>

                            <ion-label>

                                ອໍເດີ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin">
                        <ion-card-content>
                            <ion-icon name="wallet-sharp" color="primary"></ion-icon><br>

                            <ion-label>
                                ກະເປົາເງິນ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
            <ion-row>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin" (click)="cartNext()">
                        <ion-card-content>
                            <ion-badge size="1" color="warning" class="ion-no-margin" *ngIf="cartNumber">{{cartNumber}}</ion-badge>

                            <ion-icon name="cart-sharp" color="primary"></ion-icon><br>

                            <ion-label>
                                ກະຕ່າສິນຄ້າ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin">
                        <ion-card-content>
                            <ion-badge size="1" color="warning" class="ion-no-margin">66</ion-badge>

                            <ion-icon name="heart-sharp" color="primary"></ion-icon> <br>
                            <ion-label>
                                ລາຍການມັກ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
            <ion-row>
                <div class="menu" (click)="onLogout()">
                    <ion-card class="menu-card ion-no-margin">
                        <ion-card-content>
                            <ion-icon name="settings-sharp" color="primary"></ion-icon><br>
                            <ion-label>
                                ຕັ້ງຄ່າ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin">
                        <ion-card-content>
                            <ion-icon name="chatbubbles-sharp" color="primary"></ion-icon> <br>

                            <ion-label>
                                ຊ່ວຍເຫຼືອ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
        </div>

    </section>
</ion-content>