// ion-content {
//     --background: var(--ion-color-light);
//   }

.logo_img {
  .logo {
    margin-top: 10px;
    margin-left: 20px;
    img {
      width: 50px;
    }
  }
}
.search-icon {
  div {
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
    color: #a5a5a5;
    ion-icon {
      font-size: 21px;
    }
  }
}
.Category {
  display: flex;
  justify-content: space-between;
  .cate {
    margin-left: 10px;

    b {
      color: #f8a30e;
    }
  }
  .see {
    margin-right: 10px;
    color: #6a6c74;
  }
}
.Box_list_category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .product_box {
    text-align: center;
    ion-card {
      border-radius: 50%;
    }
    display: inline-block;
    white-space: normal;
    .img_category {
      ion-img {
        width: 60px;
      }
    }
  }
}

//item product
.Itemm {
  p {
    color: #f8a30e;
  }
}
.product-myitem {
  align-items: center;
}
.myitem {
  align-items: center;
margin-left: 14px;
  img {
    width: 100%;
    height: 130px;
  }
  .Category_item {
    p {
      color: #f8a30e;
    }
  }

  //     }

 

}







.porduct_container{
  margin: auto;
  .my_row{
    .item1 {
      img{
        width: 100%;
        height: 140px;
      }
    }
    .wapper_box_item {
      width: 100%;
      height: 100%;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
      ion-card{
        width: 100%;
      }
      .nameProduct {
        margin-top: -10px;
        overflow: hidden;
        p {
          display: -webkit-box;
          max-width: 400px;
          height: 20px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.625;
        }
      }
      
    .price_product {
      display: flex;
      justify-content: space-between;
      margin-top: -15px;
      .price {
        font-size: 9px;
  
        margin-left: 12px;
  
        margin-top: 10px;
      }
      .buyied {
        margin-right: 5px;
        color: #f8a30e;
      }
    }
    }
     flex-direction: row;
// justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    .my_colum{
      margin-top: 10px;
      justify-content: start;
     margin: auto;
      width: 100%;
      height: 222px;
      // background-color: gray;
      // border: solid rebeccapurple 1px;
    }
  }
}
//ipad  pro
@media screen and (max-width: 1024px) {
  .my_colum {
    max-width: 235px;
    // color: rgb(82, 185, 78);
  }
}

//ipad 
@media screen and (max-width: 768px) {
  .my_colum {
    max-width: 230px;
    // color: rgb(82, 185, 78);
  }
}
// surface duo
@media screen and (max-width: 540px) {
  .my_colum {
    max-width: 160px;
    // color: rgb(82, 185, 78);
  }
}


//iphone 6 7 8 plus
@media screen and (max-width: 414px) {
  .my_colum {
    max-width: 180px;
    // color: rgb(82, 185, 78);
  }
}
//iphone 6 7 8 10
@media screen and (max-width: 375px) {
  .my_colum {
    max-width: 160px;
    // color: rgb(197, 27, 27);
  }
}

//galaxy s5
@media screen and (max-width: 360px) {
  .my_colum {
    max-width: 150px;
    // color: rgb(101, 18, 168);
  }
}
//iphone 5
@media screen and (max-width: 320px) {
  .my_colum {
    max-width: 130px;
    // color: rgb(177, 150, 150);
  }
}

//gLxy fold
@media screen and (max-width: 280px) {
  .my_colum {
    max-width: 230px;
    // color: rgb(177, 150, 150);
  }
}