.logo {
    --background: #f4f5f8;
    margin-top: 10px;
    margin-left: 20px;
    img {
        width: 50px;
    }
}

ion-header {
    --background: #f4f5f8;
}

ion-content {
    --background: #f4f5f8;
}

// container 1
.container {
    .wrapper {
        width: 100%;
    }
    ion-row {
        width: 100%;
        height: 146px;
        .img {
            width: 100%;
            height: 300px;
            img {
                max-width: 100%;
                max-height: 300px;
            }
        }
        .produc_name {
            // display: flex;
            // justify-content: left;
            text-align: start;
            h5 {
                font-size: 14px;
                font-family: boonhom;
                // position: relative;
                // left: -30;
            }
        }
        .price_rate {
            padding: 10px 0px 0px 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: boonhom;
            .price {
                display: flex;
                h6 {
                    color: #f8a30e;
                }
                p {
                    margin-top: 18px;
                    margin-left: 10px;
                    text-decoration: line-through;
                    color: #92949c;
                    font-size: small;
                }
            }
            .rate {
                margin-top: 17px;
                ion-icon {
                    color: #f8a30e;
                }
                span {
                    margin-left: 7px;
                    color: #92949c;
                }
                .buyieds p {
                    margin-top: 22px;
                    color: #92949c;
                    font-size: small;
                }
            }
        }
    }
}

//cintainer
.container2 {
    ion-row {
        width: 100%;
    }
    width: 100%;
    margin-top: 10px;
    .wrapper_oldner_shop {
        width: 100%;
        .shop_oldner {
            width: 100%;
            // background-color: #f8a30e;
            display: flex;
            justify-content: space-between;
            .oldner_left {
                display: flex;
                .vendor_name_shop {
                    margin-left: -30px;
                    margin-top: 10px;
                    ion-label {
                        margin: 0;
                        color: #92949c;
                        font-family: boonhom;
                        margin-top: 5px;
                    }
                    p {
                        margin-top: -2px;
                    }
                }
            }
            .oldner_left img {
                margin-top: 8px;
                width: 50px;
                height: 50px;
            }
            p {
                font-family: boonhom;
                color: #92949c;
                font-size: small;
                span {
                    ion-icon {
                        position: relative;
                        color: #f8a30e;
                    }
                }
            }
            .oldner_right {
                font-family: boonhom;
                ion-button {
                    position: relative;
                    top: 6px;
                    left: 20px;
                    ion-label {
                        font-family: boonhom;
                        color: #f8a30e;
                    }
                }
                p {
                    margin-top: 38px;
                    font-family: boonhom;
                    color: #92949c;
                    font-size: small;
                }
            }
        }
        .oldner_product {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            .product {
                width: 120px;
                height: 160px;
                margin-left: 9px;
                .img {
                    width: 100%;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .product_info {
                    margin-top: -10px;
                    font-family: boonhom;
                    font-size: 12px;
                    text-align: start;
                    p {
                        display: -webkit-box;
                        max-width: 400px;
                        height: 20px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 1.625;
                    }
                    .price_buy {
                        margin-top: -10px;
                        display: flex;
                        justify-content: space-between;
                        .price {
                            margin-top: 10px;
                            font-family: boonhom;
                            color: #f8a30e;
                            font-weight: bold;
                        }
                        .buy {
                            font-size: x-small;
                            color: #92949c;
                        }
                    }
                }
                display: inline-block;
                white-space: normal;
            }
        }
    }
}

// container 3
.container3 {
    width: 100%;
    .wrapper {
        width: 100%;
        .product_all_product {
            width: 100%;
            display: flex;
            justify-content: space-between;
            h4 {
                color: #92949c;
                font-family: boonhom;
            }
            ion-button {
                margin-top: 12px;
                ion-label {
                    font-family: boonhom;
                    color: #f8a30e;
                }
            }
        }
        .price_product {
            display: flex;
            justify-content: space-between;
            margin-top: -15px;
            .price {
                font-size: 9px;
                margin-left: 12px;
                margin-top: 10px;
            }
            .buyied {
                margin-right: 5px;
                color: #f8a30e;
            }
        }
    }
}

.porduct_container {
    margin: auto;
    width: 100%;
    .my_row {
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        .item1 {
            img {
                width: 100%;
                height: 140px;
            }
        }
        .wapper_box_item {
            margin: 0;
            padding: 0;
            text-align: center;
            margin-left: 10px;
            margin-top: 10px;
            ion-item {
                width: 100%;
                background-color: darkcyan;
            }
            .nameProduct {
                margin-top: -15px;
                overflow: hidden;
                p {
                    font-family: boonhom;
                    display: -webkit-box;
                    max-width: 400px;
                    height: 20px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.625;
                }
            }
            .price_product {
                display: flex;
                justify-content: space-between;
                margin-top: -25px;
                .price {
                    margin-right: 5px;
                    color: #f8a30e;
                    font-family: boonhom;
                }
                .buyied {
                    font-size: 12px;
                    margin-left: 12px;
                    margin-top: 10px;
                    font-family: boonhom;
                    color: #92949c;
                }
            }
        }
        flex-direction: row;
        // justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        .my_colum {
            margin-top: 10px;
            justify-content: start;
            margin: auto;
            width: 100%;
            height: 222px;
            // background-color: gray;
            // border: solid rebeccapurple 1px;
        }
    }
}

.product_container2 {
    align-items: center;
    width: 100%;
    text-align: center;
    ion-row {
        margin: auto;
        text-align: center;
        width: 100%;
        height: auto;
        font-family: boonhom;
        .product_box {
            width: 100%;
            height: auto;
            margin: 4px;
            margin-top: 10px;
            text-align: start;
            .img {
                width: 100%;
                img {
                    width: 100%;
                    height: 140px;
                }
            }
            p {
                overflow: hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                margin-top: 10px;
                font-size: 12px
            }
            .price_rate {
                display: flex;
                justify-content: space-between;
                margin-top: -6px;
                margin-right: 8px;
                p {
                    color: #f8a30e;
                    font-size: 12px;
                }
                span {
                    margin-top: 12px;
                    font-size: 9px;
                    color: #92949c;
                }
            }
        }
    }
}

///foooter
ion-footer {
    .wrapper {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        .footer_left {
            display: flex;
            justify-content: center;
            width: 60%;
            div {
                ion-badge {
                    font-size: 10px;
                    position: absolute;
                    left: 42px;
                }
                padding: 16px;
                ion-label {
                    font-size: x-small;
                    color: #92949c;
                    font-family: boonhom;
                }
            }
        }
        .footer_right {
            width: 40%;
            display: flex;
            .buy1 {
                width: 100%;
                background-color: #f8a30e;
                text-align: center;
                ion-label {
                    color: white;
                    font-weight: bold;
                    font-weight: 700;
                    font-family: boonhom;
                    font-size: 17px;
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
}

//ipad  pro
@media screen and (max-width: 1024px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        font-size: 16px;
        // background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 188px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//ipad  pro
@media screen and (max-width: 1024px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        font-size: 16px;
        background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 174px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//ipad 
@media screen and (max-width: 768px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        font-size: 16px;
        background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 174px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

// surface duo
@media screen and (max-width: 540px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        width: 185px;
        font-size: 16px;
        // background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 160px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//phone 6 7 8 plus
@media screen and (max-width: 414px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        width: 185px;
        font-size: 16px;
        // background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 175px;
        max-height: 235px;
        .img {
            img {
                max-width: 100%;
                max-height: 140px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//iphone 6 7 8 10 x 
@media screen and (max-width: 375px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        width: 185px;
        font-size: 16px;
        // background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 160px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//galaxy s5
@media screen and (max-width: 360px) {
    .product_box {
        position: relative;
        top: 10px;
        left: 20px;
        margin: 3px;
        width: 185px;
        font-size: 16px;
        // background-color: rebeccapurple;
        // border: red solid 2px;
        background-color: #ffff;
        max-width: 160px;
        max-height: 215px;
        .img {
            img {
                max-width: 100%;
                max-height: 170px;
            }
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

///iphone 5
@media screen and (max-width: 320px) {
    .product_box {
        position: relative;
        left: 20px;
        margin: 3px;
        max-width: 135px;
        font-size: 16px;
        background-color: white;
        height: 165px;
        p {
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 3;
            padding: 0px 3px;
            margin-top: -10px;
            font-size: 12px
        }
        .price_rate {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            p {
                color: #f8a30e;
                font-size: 12px;
            }
            span {
                margin-top: 12px;
                font-size: 9px;
                color: #92949c;
            }
        }
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 16px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//gLxy fold
@media screen and (max-width: 280px) {
    .product_box {
        margin: 3px;
        max-width: 229px;
        // max-height: 400px;
        font-size: 16px;
        // background-color: gray;
        height: 140px;
    }
    .container2 {
        .wrapper_oldner_shop {
            .shop_oldner {
                .oldner_left {
                    .img {
                        p {
                            break-inside: auto;
                            // font-size: 12px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .oldner_right {
                    ion-button {
                        margin-right: 20px;
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .container3 {
        ion-item {
            .wrapper {
                .product_all_product {
                    h4 {
                        font-size: 18px;
                    }
                    ion-button {
                        ion-label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}