<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <div _ngcontent-gor-c7="" class="logo">
            <span> <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png"> </span>
        </div>

    </ion-toolbar>
</ion-header>
<ion-content>
    <section class="container">
        <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="true" [options]="slideOpts">
            <!-- <ion-slide>
                <div class="img">
                    <img src="../../assets/productImgs/item-1.jpg" alt="">
                </div><br>
            </ion-slide>
            <ion-slide>
                <div class="img">
                    <img src="../../assets/productImgs/item-3.jpg" alt="">
                </div><br>
            </ion-slide> -->
            <ion-slide *ngFor="let Image of product_item?.data?.productImage">
                <div class="img">
                    <!-- <img src="../../assets/productImgs/item-3.jpg" alt=""> -->
                    <img [src]="load_image(Image?.containerName,Image?.image)">
                </div><br>
            </ion-slide>
        </ion-slides>
        <ion-list class="ion-no-border">
            <ion-item class="ion-no-border" lines="none">
                <ion-row class="ion-text-center">
                    <div class="wrapper">
                        <div class="produc_name">
                            <h5>{{product_item?.data.name}}</h5>
                        </div>
                        <div class="price_rate">
                            <div class="price">
                                <h6>{{product_item?.data.price}}</h6>
                                <p>19000ກີບ</p>
                            </div>
                            <div class="rate">
                                <ion-icon name="star-sharp"></ion-icon>
                                <ion-icon name="star-sharp"></ion-icon>
                                <ion-icon name="star-sharp"></ion-icon>
                                <ion-icon name="star-sharp"></ion-icon>
                                <ion-icon name="star-half-sharp"></ion-icon>
                                <span>4.5</span>
                                <div class="buyieds">
                                    <p> ຂາຍແລ້ວ 210 ອັນ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-row>
            </ion-item>
        </ion-list>
    </section>
    <section class="container2">
        <ion-item class="ion-no-margin" lines="none">
            <ion-row>
                <div class="wrapper_oldner_shop">
                    <div class="shop_oldner">
                        <div class="oldner_left">
                            <div class="img">
                                <img src="../../assets/productImgs/item-4.jpg" alt="">

                                <p>ຄະແນນຄວາມນິຍົມ: <br>
                                    <span color="primary"> 
                                     <ion-icon name="star-sharp"></ion-icon>
                                    <ion-icon name="star-sharp"></ion-icon>
                                    <ion-icon name="star-sharp"></ion-icon>
                                    <ion-icon name="star-sharp"></ion-icon>
                                    <ion-icon name="star-half-sharp"></ion-icon>
                                   </span>
                                </p>
                            </div>
                            <div class="vendor_name_shop">
                                <ion-label>{{vendor[0]?.vendor_name}}</ion-label>
                                <p>852095458604</p>

                            </div>
                        </div>
                        <div class="oldner_right" (click)="nextpageGetId()">
                            <ion-button fill="outline" color="medium" size="small">
                                <ion-label>ເບິ່ງໜ້າຮ້ານ</ion-label>
                            </ion-button>
                            <p>ຂາຍອອກແລ້ວທັງໝົດ: <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2133 ອັນ
                            </p>
                        </div>
                    </div>

                    <div class="oldner_product ion-text-center">
                        <div class="product" (click)="productVendorNext(product_vendor.productId)" *ngFor="let  product_vendor of vendorProduct_data?.data">
                            <div class="img">
                                <!-- <img [src]="load_image(product_vendor.imagePath,product_vendor.image)" /> -->
                                <img [src]="load_image(product_vendor?.productImage?.containerName,product_vendor?.productImage?.image)" />
                            </div>
                            <div class="product_info">
                                <p>{{product_vendor.name}} </p>
                                <div class="price_buy">
                                    <div class="price">
                                        <ion-label>{{product_vendor.price}}ກີບ</ion-label>
                                    </div>
                                    <div class="buy">
                                        <ion-label>ຂາຍແລ້ວ <br>210ອັນ</ion-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-row>
        </ion-item>
    </section>
    <section class="container3">
        <ion-item lines="none">
            <ion-row class="wrapper">
                <div class="product_all_product">
                    <h4>ສິນຄ້າທີ່ກ່ຽວຂ້ອງ</h4>
                    <ion-button class="ion-no-margin" fill="outline" color="medium" size="small">
                        <ion-label>ສິນຄ້າທັງຫມົດ</ion-label>
                    </ion-button>
                </div>

            </ion-row>
        </ion-item>
    </section>
    <section class="product_container2">
        <ion-row class="ion-text-center">
            <div class="product_box" (click)="productVendorNext(product_category.productId)" *ngFor="let product_category of objcategory?.data">
                <div class="img">
                    <img [src]="load_image(product_category?.images?.containerName,product_category?.images?.image)" />
                </div>
                <p>{{product_category.name}}</p>

                <div class="price_rate">
                    <p>{{product_category.price}}ກີບ</p>
                    <span>  ຂາຍແລ້ວ 221ອັນ</span>
                </div>
            </div>
        </ion-row>
    </section>
</ion-content>


<ion-footer>
    <div class="wrapper">
        <div class="footer_left ion-text-center">

            <div class="shop" (click)="goTocart()">
                <ion-badge size="1" color="warning" class="ion-no-margin " *ngIf="countCard">{{countCard}}</ion-badge>

                <ion-icon name="cart-sharp" color="primary"></ion-icon><br>

                <ion-label>
                    ກະຕ່າສິນຄ້າ
                </ion-label>
            </div>
            <div class="heart_like">
                <ion-icon name="heart-outline" color="medium"></ion-icon><br>
                <ion-label>
                    ກົດຖືກໃຈ
                </ion-label>
            </div>
            <div class="chatting">
                <ion-icon name="chatbubble-ellipses-outline" color="medium"></ion-icon><br>
                <ion-label>
                    ແຊັດຫາພະນັກງານ
                </ion-label>
            </div>
        </div>
        <!-- <div class="footer_right2 ion-text-center">
            <div class="buy1 ion-text-center">
                <ion-label (click)="addtoCard()">ເພີ່ມໃສ່ກະຕ່າ</ion-label>
            </div>
        </div> -->
        <div class="footer_right ion-text-center">
            <div class="buy1 ion-text-center">
                <ion-label (click)="addtoCard()">ເພີ່ມໃສ່ກະຕ່າ</ion-label>
            </div>
        </div>
    </div>
</ion-footer>