<ion-content (click)="dismisModal()">
    <img [src]="clickedImage" />
</ion-content>
<ion-footer>
    <section class="ion-text-center">
        <ion-button shape="round" color="primary" color="danger">
            <ion-icon name="image-sharp"></ion-icon>
            <ion-label>ເລືອກຮູບ</ion-label>

        </ion-button>
        <ion-button shape="round" color="danger" fill="outline">
            <ion-icon name="camera-sharp"></ion-icon>
            <ion-label>ຖ່າຍຮູບ</ion-label>
        </ion-button>
    </section>
</ion-footer>