<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button text="ກັບຄືນ" [defaultHref]=""></ion-back-button>
        </ion-buttons>
        <div _ngcontent-gor-c7="" class="logo" slot="start">
            <span> <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png"> </span>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <div class="container">
                    <img src="../../assets/imgs/location.jpg" alt="">
                    <h4>ທ່ານຍັງບໍ່ມີທີ່ຢູ່...</h4>
                    <p>ເພີ່ມທີ່ຢູ່, ເພື່ອເພີດເພີນກັບການຊື້ເຄື່ອງ...</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-button expand="block" (click)="nextToaddlocation()">ເພີ່ມທີ່ຢູ່ປັດຈຸບັນ</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>